<html>
    <head>
        <meta charset="UTF-8">
     <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
     <meta http-equiv="X-UA-Compatible" conten="IE=edge">
     <link rel = "stylesheet"
     href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
     <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
     </script>    
    </head>
    <body>
        <h3>Everyone's data</h3>
        {% for mems in m%}
       
        <h5 class="red-text"> Book name :{{mems.content}} , Book author: {{mems.author}}</div>
        
        {% endfor%}
    </body>
</html>