<html>
    <head>
        <meta charset="UTF-8">
     <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
     <meta http-equiv="X-UA-Compatible" conten="IE=edge">
     <link rel = "stylesheet"
     href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
     <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
     </script>    
    </head>
    <body>
        <h3>Your uploaded Files</h3>
        <table class="table">
            <thead>
                <tr>
                <th> Tittle</th>
                <th>File</th>
                </tr>
            </thead>
            <tbody>
                {% for mems in m%}
                <tr>
                    <td>{{mems.tittle}}</td>
                    <td><a href="{{mems.pdf.url}}" class=" btn btn-primary btn-sa">Download</a>
                        
                    </td>
                </tr>
                
        
                {% endfor%}
            </tbody>
        </table>
        
    </body>
</html>